body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI'
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.dashboard-tile {
    padding: 10px;
    color: #fff;
    text-align: center;
}

.tile-icon {
    font-size: 50px;
    margin-top: 25px;
}

.tile-header {
    color: #ffffff;
    font-size: 20px;
}

.tile-count {
    position: relative;
    float: right;
    padding: 0 5px;
    font-family: "Segoe UI";
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    max-width: 100px;
    margin-left: -100%;
}

.green-bg {
    background-color: green;
    border: 1px solid green;
    border-radius: 2px;
    min-height: 150px;
}

.blue-bg {
    background-color: #555597;
    border: 1px solid #555597;
    border-radius: 2px;
    min-height: 150px;
}

.red-bg {
    background-color: #db2d2d;
    border: 1px solid #db2d2d;
    border-radius: 2px;
    min-height: 150px;
}

.yellow-bg {
    background-color: #868600;
    border: 1px solid #868600;
    border-radius: 2px;
    min-height: 150px;
}

a.clear-hyperlink {
    color: #fff;
}

a:link {
    outline: none;
}

.mail-option {
    margin-top: -5px;
    padding: 5px;
    color: red;
}

.inbox-item {
    color: #000;
}

a.inbox-item {
    outline: none;
}

.red {
    color: red;
}

.black {
    color: black;
}

.upload-tile-text {
    font-size: 14px;
    word-wrap: break-word;
    width: 125px;
    padding: 15px;
    margin-top: -5px;
    font-family: 'Segoe UI';
    padding-top: 10px;
}

.upload-tile {
    padding: 0;
    margin-bottom: 0;
}

.upload-tile-overlay {
    height: 55px;
    background-color: rgba(0, 0, 0, 0.60);
    margin-top: 19%;
    margin-bottom: -10px;
    padding-right: -222px;
    width: 100%;
}