@model IEnumerable<ClickToLoadMore.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
    <ul class="list-inline list-unstyled infinite-load">
        @Html.Partial("_ItemLi", (ViewBag.Items as Dictionary<int, Item>))
    </ul>
</div>

@if (!(bool)ViewBag.IsEndOfRecords)
{
    <div id="load-more" class="text-center" align="center">
        <a class="btn" onclick="loadMore(window.location.href + '/index')"><strong>Load More...</strong></a>
    </div>
}

<div id="loading-animation" align="center" style="margin-top: 5px;">
    <p>Loading animation...</p>
</div>

